BasedOnStyle: LLVM
SortIncludes: Never

BreakBeforeBraces: Stroustrup

SpaceBeforeParensOptions:
  AfterControlStatements: true
  AfterFunctionDefinitionName: true

AlwaysBreakAfterReturnType: None
AlwaysBreakAfterDefinitionReturnType: All